* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	height: 80px;
	text-align: left;
	color: #fff;
	padding: 23px;
}

ul li {
	display: inline-block;
}

.log {
	width: 50%;
	justify-content: center;
	vh: 100%;
	display: grid;
	background-color: #fff;
	padding: 15px;
	margin: 0;
	border-radius: 10px;
	box-shadow: 0px 4px 16px rgba(0,0,0,0.5);
}


.back {
	font-family: Century Gothic, sans-serif;
	position: relative;
	padding-bottom: 64px;
	min-height: 100vh;
	background: url(https://img5.goodfon.ru/wallpaper/nbig/f/ab/4k-hd-background-forest-coniferous-trees-pines-sunset-nature.jpg);
	background-size: cover;
}

.bodyy {
	justify-content: center;
	justify-item: center;
	padding: 0;
	margin: 0;
}

.row {
	justify-content: center;
	min-width: 100%;
	padding: 0;
	margin: 0;
}

.responsive {
	width: 100%;
	height: auto;
}

.container-fluid {
	vh: 90%;
	padding: 0;
	margin: 0;
}

footer {
	text-align: center;
	background-color: #333;
	padding: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.forform {
	width: 80%;
	border: none;
	margin-left: 5px;
}

.form-control {
	border: none;
}

h2 {
	padding: 25px;
}

p, a {
	color: #A5A5A5;
}

span {
	padding-left: 10px;
}

h4 {
	padding-top: 8px;
}

img{
	padding: 30px;
}

.navlinks, h5 {
	color: #fff;
	text-decoration: none;
}

.navlinks::hover {
	color: blue;
}

.textbox {
	height: 18%;
	width: 100%;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 2px solid gray;
	align-items: center; 
	justify-content: center;
}

.userr {
	width: 100%;
	height: 10px;

}

.userimage {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}